/* @import '@/styles/markdown-css-github.css'; */

.markdown-body {
  & p,
  & pre,
  & code,
  & blockquote,
  & ul,
  & ol,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    @apply leading-[170%];
  }

  & p,
  & blockquote,
  & ul,
  & ol,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    color: var(--mui-palette-text-primary);
  }

  & h1 {
    @apply text-4xl font-bold py-5;
    &::before {
      content: '#';
      @apply mr-3 self-start;
    }
  }
  & h2 {
    @apply text-3xl font-bold py-5;
    &::before {
      content: '##';
      @apply mr-3 self-start;
    }
  }
  & h3 {
    @apply text-2xl font-bold py-5;
    &::before {
      content: '###';
      @apply mr-3 self-start;
    }
  }
  & h4 {
    @apply text-xl font-bold py-5;
    &::before {
      content: '####';
      @apply mr-3 self-start;
    }
  }
  & h5 {
    @apply text-xl font-bold py-5;
    &::before {
      content: '#####';
      @apply mr-3 self-start;
    }
  }
  & p {
    @apply pb-5 indent-3;
  }
  & code {
    @apply bg-gray-200 rounded-md px-1;
    color: #00796b;
  }

  & pre code {
    background-color: unset;
    color: unset;
    opacity: unset;
    border-radius: unset;
    padding-left: unset;
    padding-right: unset;
  }

  & blockquote {
    @apply flex items-center p-5 mb-5;
    background-color: #e0e0e0;
    color: #37474f;
    &::before {
      content: '〝';
      @apply text-2xl mr-3 self-start;
    }
    & p {
      @apply italic text-lg p-0 indent-0;
    }
  }
  & pre[class*='language-'] {
    @apply rounded-md mt-4 mb-4;
  }
  & a {
    @apply no-underline hover:opacity-100;
    color: var(--mui-palette-action-active);
  }
  & ul {
    padding-left: 2rem;
    list-style-type: circle;
  }
  & ol {
    padding-left: 2rem;
    list-style-type: decimal;
  }
  & li::marker {
    color: var(--mui-palette-action-active);
  }
}
