body {
  display: grid;
  grid-template-rows: 10% 90%;
}

main {
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 10% 1fr;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

main > nav {
  grid-row-start: 1;
}

main > section {
  grid-row-start: 2;
}
